Categories:
  - Science & Education
License: GPL-3.0-or-later
SourceCode: https://github.com/isomorphismes/hopf_fibration
IssueTracker: https://github.com/isomorphismes/hopf_fibration/issues

RepoType: git
Repo: https://github.com/isomorphismes/hopf_fibration.git

Builds:
  - versionName: 0.1.0
    versionCode: 1
    commit: FULL_COMMIT_HASH
    ndk: 29.0.14206865
    srclibs:
      - ICK@c61e448251744a2f40ad743ebef1a027bdcd2f9d
      - AICI@903b2cb27ea572c9c6cb2ffa9f39e0fbf06ec9f8
    sudo:
      - apt-get update
      - apt-get install -y build-essential flex bison texinfo libgmp-dev libmpfr-dev libmpc-dev binutils-arm-linux-gnueabi binutils-aarch64-linux-gnu binutils-x86-64-linux-gnu
    prebuild:
      - sdkmanager "platforms;android-36" "build-tools;36.0.0" "cmake;3.22.1"
      - ln -s "$$AICI$$" .ai-ci-ick
    build:
      - make -f "$$AICI$$/ick-android/Makefile" all qualify ABI=armeabi-v7a NDK="$$NDK$$" ICK_SOURCE="$$ICK$$" ICK_BUILD="$PWD/build/ick-bootstrap/armeabi-v7a" ICK_STAGE="$PWD/build/ick/armeabi-v7a" FORTIFY_SOURCE=2
      - make -f "$$AICI$$/ick-android/Makefile" all qualify ABI=arm64-v8a NDK="$$NDK$$" ICK_SOURCE="$$ICK$$" ICK_BUILD="$PWD/build/ick-bootstrap/arm64-v8a" ICK_STAGE="$PWD/build/ick/arm64-v8a" FORTIFY_SOURCE=2
      - make -f "$$AICI$$/ick-android/Makefile" all qualify ABI=x86_64 NDK="$$NDK$$" ICK_SOURCE="$$ICK$$" ICK_BUILD="$PWD/build/ick-bootstrap/x86_64" ICK_STAGE="$PWD/build/ick/x86_64" FORTIFY_SOURCE=2
    gradle:
      - yes

AutoUpdateMode: Version
UpdateCheckMode: Tags ^v[0-9]+\.[0-9]+\.[0-9]+$
CurrentVersion: 0.1.0
CurrentVersionCode: 1
